* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: azure;
}

header {
  padding: 30px;
  position: relative;
  height: 20vh;
  width: 100%;
  display: block;
}

.scores-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;

  .player--X {
    line-height: 1.5;
    font-size: 25px;
  }

  .player--O {
    font-size: 25px;
    line-height: 1.5;
  }
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cells {
  height: 80%;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
    }
    &:nth-child(2) {
      border-bottom: 2px solid #333;
    }
    &:nth-child(3) {
      border-bottom: 2px solid #333;
      border-left: 2px solid #333;
    }
    &:nth-child(4) {
      border-bottom: 2px solid #333;
      border-right: 2px solid #333;
    }
    &:nth-child(5) {
      border-bottom: 2px solid #333;
    }
    &:nth-child(6) {
      border-bottom: 2px solid #333;
      border-left: 2px solid #333;
    }
    &:nth-child(7) {
      border-right: 2px solid #333;
    }
    &:last-child {
      border-left: 2px solid #333;
    }

    // &:hover {
    //   background: url("../x.png") no-repeat center center / cover;
    //   background-size: 130px;
    // }
  }
}

.hidden {
  display: none;
}

.active--player {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#restart {
  line-height: 1.5;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 1px;
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(33, 111, 255);
  margin-top: 20px;
  p {
    background-color: rgb(33, 111, 255);
    color: white;
  }
  span {
    background-color: rgb(33, 111, 255);
    color: white;
  }
  .button {
    padding: 5px 5px;
    color: #333;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
    border: 1px solid #333;
    &:hover {
      cursor: pointer;
    }
  }
}
